# Laravel
alias art=artisan
alias fresh="art migrate:fresh --seed"
alias migrate="art migrate"
alias playbook="art playbook:run"
alias seed="art db:seed"

# PHP Testing
alias pest="vendor/bin/pest"
alias phpunit="vendor/bin/phpunit"
alias pp="art test --parallel"

# PHP
alias composer="php -d memory_limit=-1 /opt/homebrew/bin/composer"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload -o"
alias cfresh="rm -rf vendor/ composer.lock && composer i"
alias dep="php vendor/bin/dep"
alias switch-php81="valet use php"
alias switch-php80="valet use php@8.0"
alias switch-php74="valet use php@7.4"
alias larastan="vendor/bin/phpstan analyse"
alias fixer="php-cs-fixer fix"

# Javascript
alias mix="npm run dev"
alias mw="npm run watch"
alias watch="npm run watch"

#  Shortcuts
alias copykey="pbcopy < $HOME/.ssh/id_ed25519.pub"
alias hostfile="nano /etc/hosts"
alias phpstorm='open -a /Applications/Development/PhpStorm.app "`pwd`"'
alias reloadshell="source $HOME/.zshrc"
alias sshconfig="nano $HOME/.ssh/config"
alias zshconfig="nano $HOME/.zshrc"

# List all files colorized in long format
alias l="ls -laF"

# Redis
alias flush-redis="redis-cli FLUSHALL"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Directories
alias code="cd $HOME/Code"
alias dotfiles="cd $DOTFILES"
alias desktop="cd $HOME/Desktop"
alias library="cd $HOME/Library"
